*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--primary-color);
    /* border: 1px solid #00FF66; */
}
:root{
    /* --primary-color : #1c313a; */
    --primary-color : #18191f;
    --secondary-color : rgba(0,0,0,.05);
    --tertiary-color : rgba(0,0,0,.6);
    --border-color: #151616;  
    --bold-text:#3e32e4;  
    --text-color:#fff;
    --profit :#00FF66;  
}
.main{
    height: 100vh;
}

/* navigation-bar */
.navigation{
    width: 100vw;
    background-color: var(--primary-color);
}

.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul li{
    margin: 1% 1rem;
    padding: 0.7rem;
    border-color: red;
}
.navigation ul li a{
    padding: .35em .3rem;
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    font-weight: 800;
    transition: 0.5s;
}
.navigation ul li a:hover{
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
}



/* main-container*/
.main-container{
    width: 65vw;
    margin: 0% auto;
    border: 1px solid var(--border-color);
    box-shadow: 0 40px 40px -10px var(--tertiary-color);
    display: flex;
}


/* left side div in main container */
.firstDiv{
   flex-basis: 50%;
}

.firstDiv h1 div{
    display: block;
    width: auto;
    margin: 1rem auto;
    text-align: center;
    color: var(--text-color);
}

.firstDiv h1 .colorText-change .profit,.loss{
    color: var(--bold-text);
    margin: 0 0.5rem;
} 

.firstDivp  h1 span span{
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--bold-text);
}

.input-div > *{
    text-align: center;
}

.input-div .input-div-container {
    margin:  auto;
    width: 25vw;
    color: var(--text-color);
}

.input-div .input-div-container label{
    font-weight: bold;
}

.input-div .input-div-container input{
    width: 22vw;
    height: 5vh;
    border-radius: 2%;
    padding: 0.2rem;
    color: var(--text-color);
    border-color: var(--bold-text);
    margin: 2% 0% 1% 0%;
    font-size: 1.1rem;
}


.input-div button{
    display: block;
    margin: 1rem auto;
    padding: .5rem 1.6rem;
    font-weight: bolder;
    font-size: 0.8rem;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    border-color: var(--text-color);
}




/* .input-div input{
    display: block;
    margin: 1rem auto;
    width: 25vw;
    outline: none;
    border-color: var(--primary-color);
} */

/* right side div in main container */

.secondDiv{
    text-align: center;
    flex-basis: 50%;
}
   

.secondDiv .git-div{
    /* position: absolute; */
    /* bottom: 0%; */
}

.secondDiv .output-div{
    padding: 1.5rem 0rem 0rem 0rem;
}
.secondDiv .output-div p{
    color: var(--text-color);
}

.secondDiv img{
    width: 70%;
    padding: 0.8rem;
    margin: 0.5rem;
    /* border-radius: 7%; */
}


.secondDiv .funny-text{
    color: var(--text-color);
    font-size: 130%;
    margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .main-container{
        width: 100%;
        flex-direction: column;
    }
    .firstDiv{
        width: 100%;
        background-color: var(--text-color);
     }
     .secondDiv{
        width: 100%;
     }
     .firstDiv h1 div{
        margin: 0.7rem auto;
    }
    .firstDiv h1 .colorText-change .profit,.loss{
        color: var(--bold-text);
        margin: 0.2rem;
    }
    .input-div .input-div-container {
        margin: 0.8rem auto;
        width: 50vw;
        text-align: center
    }

    .input-div .input-div-container input{
        width: 40vw;
        height: 5vh;
        color: var(--text-color);
        border-color: var(--bold-text);
        margin: 1% 1% 1% 1%;
    }

    .secondDiv img{
        width: 75%;
        /* height: 30vh; */
    }
    .secondDiv .funny-text{
        font-size: 0.9rem;
    }
  }